
img

{
	max-width: 100%;
}

.colorDiv
{
	background-color: #D1D1D1;
}

.sizeDiv
{
	
	height: 30px;
}


.Indie-flower
{
	font-family: 'Indie Flower', cursive;

}

.colorDiv2
{
	background-color: #F5F5F5;
}

.borde
{
	border-bottom: 1px solid gray;

}
